body {
    background-image: url(https://framedsc.com/HOFWallpaper/static/media/Wallpaper-1.35bf202a7c977cc76aef.png);
    background-size: cover;
    background-position: center center;
}

.new-tab {
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .new-tab-image {
        width: 100vw;
        height: 100vh;
        opacity: 0;
        transition: opacity .5s, object-fit .5s;
        // background-size: 100%;
        // background-repeat: no-repeat;
        object-fit: cover;

        &.fit {
            object-fit: contain;
        }
    }

    .icon-tray {
        position: fixed;
        z-index: 1;

        .icon {
            filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.818));
        }
        &.icon-tray-tr {
            top: .5rem;
            right: .5rem;
        }
        &.icon-tray-br {
            bottom: .5rem;
            right: .5rem;
        }
    
    }

    .icon-group {
        position: relative;

        .icon-subgroup {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            transition: .25s opacity, .25s right;
            pointer-events: none;
        }

        &.active {
            .icon-subgroup {
                right: 100%;
                opacity: 1;
                pointer-events: all;
            }
        }
    }


    .icon {
        color: white;
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding: 10px;
    }

    .links {
        color: white;
        position: absolute;
        bottom: 16px;
        left: 16px;
        z-index: 1;
        display: flex;
        align-items: center;
        text-shadow: 0px 1px 5px black;
        gap: 8px;

        // span {
        //     text-shadow: 0px 1px 5px black;
        // }

        // a {
        //     text-shadow: 0px 1px 5px;
        // }

        .icon {
            width: 20px;
            height: 20px;
            margin-top: 2px;
            display: flex;
            filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.818));
            cursor: pointer;
        }
    }

    .datetime {
        color: white;
        position: absolute;
        padding-bottom: 1rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 8px;
        z-index: 1;
        transition: .25s color, .25s text-shadow;

        &.shadow {
            text-shadow: 0px 1px 5px black;
        }

        .time {
            font-size: 5rem;
            font-weight: 700;
            line-height: 5rem;
        }

        .sep {
            background-color: white;
            width: 80%;
            height: 1px;
        }

        .date {
            font-size: 2rem;
            font-weight: normal;
            line-height: 2rem;
            text-transform: capitalize;
        }
        
    }

    .top-left {
        top: 2rem;
        left: 4rem;
    }

    .top-right {
        top: 2rem;
        right: 4rem;
    }

    .bottom-left {
        bottom: 2rem;
        left: 4rem;
    }

    .bottom-right {
        bottom: 2rem;
        right: 4rem;
    }

    .center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .center-left {
        top: 50%;
        left: 4rem;
        transform: translateY(-50%);
    }

    .center-right {
        top: 50%;
        right: 4rem;
        transform: translateY(-50%);
    }

    .center-top {
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .center-bottom {
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &.cleaned {
        .new-tab-image {
            filter: none !important;
            opacity: 1 !important;
        }
    }
}