:root {
    --themeCol: #9c0135;
}

.config-panel {
    position: fixed;
    right: calc(-15vw - 2px);
    width: calc(15vw - 2px);
    height: 100vh;
    background-color: #0000005e;
    backdrop-filter: blur(10px);
    border-left: 2px solid #737373;
    // box-shadow: 0px 0px 10px 0px #0000005e;
    transition: right 0.3s cubic-bezier(.08,.82,.17,1);
    z-index: 9;

    &.open {
        right: 0;
    }

    .close {
        color: white;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.818));
        z-index: 1;
        cursor: pointer;
    }

    .config-list {
        margin: 1rem;
        margin-top: 2rem;
        
        & > .config-item:last-child {
            border-bottom: none;
        }

        .toggle-group[data-toggled="false"] {
            .config-item:not(:first-child) {
                height: 0;
                padding-top: 0;
                padding-bottom: 0;
                border: 0;
            }
        }

        .config-item {
            display: flex;
            transition: .25s height;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid #737373;
            overflow: hidden;

            &.full {
                flex-direction: column;
                align-items: flex-start;
            }

            .config-item-title {
                font-size: 1.5rem;
                font-weight: 700;
            }

            .config-item-value {
                font-size: 1.5rem;
                font-weight: 400;
            }

            input[type="color"] {
                all: unset;
                width: 3rem;
                height: 1.5rem;
                border-radius: 8px;
            }

            input:checked + .slider {
                background-color: var(--themeCol);
            }

            input[type="range"] {
                -webkit-appearance: none !important;
                appearance: none !important;
                background: var(--themeCol);
                height:5px;
                width: 100%;
            }

            input[type="range"]::-webkit-slider-thumb,
            input[type="range"]::-moz-range-thumb {
                background: #efefef;
                height: 20px;
                width: 8px;
                border-radius: 4px;
                border: 1px solid var(--themeCol);
            }

            .simple-range {
                display: flex;
                margin-top: 10px;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                span {
                    display: flex;
                    align-items: flex-end;
                    font-size: 10px;
                    margin-left: 8px;
                    margin-bottom: 5px;
                    width: 30px;
                    font-size: 16px;
                    text-align: right;
                    color: white;
                }
            }
        }
    }
}