.onboarding {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000009a;
    backdrop-filter: blur(2px);
    z-index: 10;
    overflow: hidden;

    .random-shot-img {
        position: fixed;
        z-index: 12;
        pointer-events: none;

        img {
            max-width: 20vw;
            max-height: 20vh;
        }
    }

    .second-look {
        padding: 2px 10px 6px;
        background-color: #3d4270;
        line-height: 22px;
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #5865f2;
        }
    }

    .onboarding-body {
        margin: 16px;

        .second-look {
            padding: 0 4px 2px;
            line-height: unset;
        }

        .random-shot {
            position: relative;
            padding: 1rem 0;
            text-decoration: underline dotted #ff0055;
            cursor: default;
            z-index: 2;
        }
    }

    .onboarding-next-step {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        padding-left: .5rem;
        display: flex;
        background-color: #ff0055;
        border-radius: 15px;
        cursor: pointer;

        svg {
            width: 28px;
            height: 28px;
        }
    }
}