.Settings {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 22rem;
    padding: .5rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
    background-color: #0000005e;
    backdrop-filter: blur(10px);
    border-top: 4px solid #737373;
    border-left: 4px solid #737373;
    transform: translateY(calc(100% + -44px));
    transition: transform .2s ease-out;
    z-index: 1;

    &:hover,
    &:focus {
        transform: translateX(0);
        outline: none;
    }

    .setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: underline dotted;

        .setting-switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 24px;
        }

        .setting-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #1d1d1d98;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #9c0135;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #9c0135;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .setting-info {
            display: block;
            width: 25rem;
            padding: .5rem;
            position: absolute;
            left: -27rem;
            background-color: #0000005e;
            backdrop-filter: blur(10px);
            border: 4px solid #737373;
            opacity: 0;
            pointer-events: none;
            transition: opacity .1s ease-out;
        }

        .setting-text:hover~.setting-info {
            opacity: 1;
        }

        .setting-number {
            width: 2rem;
            margin: 0;
            padding-right: 6px;
            text-align: right;
            -moz-appearance: textfield;
            appearance: textfield;
            background-color: #1d1d1d98;
            color: white;
            border: 2px solid #9c0135;
            border-radius: 5px;

            &:focus {
                outline: none;
            }
        }

        input.setting-number::-webkit-outer-spin-button,
        input.setting-number::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .batterySlider {
            width: 70%;
            height: 42px;
            position: relative;

            .batteryIndicator {
                position: absolute;
                left: 0;
                right: 0;
                height: 38px;
                color: white;
                font-size: 1rem;
                font-weight: 600;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: min-content;
                margin: auto;

                input {
                    width: 3rem;
                    direction: rtl;
                    outline: none;
                    background-color: transparent;
                    border: none;
                    font-family: inherit;
                    font-weight: 600;
                    font-size: 1rem;
                    color: white;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    margin: 0;
                }

                input[type="number"] {
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                }
            }

            .bSlider {
                -webkit-appearance: none;
                /* Override default CSS styles */
                appearance: none;
                width: 100%;
                /* Full-width */
                height: 38px;
                /* Specified height */
                outline: none;
                /* Remove outline */
                background: #1d1d1d98;
                /* Grey background */
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;

                &::-moz-range-thumb {
                    -webkit-appearance: none;
                    /* Override default look */
                    appearance: none;
                    // background-image: url("../assets/svg/slider-thumb.svg"),
                    //     linear-gradient(to right, var(--bgColor) 50%, var(--emptyBgColor) 50%);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 40px;
                    width: 0; // set to zero to remove cursor, along with background
                    border: 0px solid #999;
                    border-radius: 0 !important;
                    box-shadow: -100vw 0 0 100vw #9c0135;
                    box-sizing: border-box;
                    transition: box-shadow 0.2s ease-out, background-image 0.2s ease-out;
                    //   background-image: url("../assets/svg/slider-thumb.svg");
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 33px;
                    height: 38px;
                    // background-image: url("../assets/svg/slider-thumb.svg"),
                    //     linear-gradient(to right, var(--bgColor) 50%, var(--emptyBgColor) 50%);
                    background-repeat: no-repeat;
                    background-position: center;
                    box-shadow: -100vw 0 0 100vw #9c0135;
                    border: 0px solid #999;
                    transition: box-shadow 0.2s ease-out, background-image 0.2s ease-out;
                }
            }
        }
    }
}